header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 50px 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 116px;
  width: 100%;
  margin: 0 40px 0 0;
}

.description-company {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  max-width: 250px;
  margin: 0 auto 0 0;
}

.btn-burger {
  fill: #fff;
  width: 38px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 92px;
  cursor: pointer;
}
.btn-burger:hover {
  fill: #EC6E00;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 64px 0 0;
}

.phone {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.phone:hover {
  color: #EC6E00;
}

.messenger-link {
  margin: 0 7px 0 0;
}